In [12]:
import pandas as pd
import inspect

def log_df(df):
    print('[{}]: {} rows x {} columns '.format(inspect.stack()[1][3], df.shape[0], df.shape[1]))

def read_data():
    df_movies = pd.read_csv('output/merged.csv')
    log_df(df_movies)
    return df_movies

def clean_data(df_movies):
    df_movies = df_movies.dropna(subset=['imdb', 'metascore'])
    display(df_movies)
    log_df(df_movies)
    return df_movies
    

    
def main():
    df_movies = read_data()
    df_movies = clean_data(df_movies)
    
    
    
main()

[read_data]: 4802 rows x 36 columns

,Unnamed: 0,imdb_ids,movie,year,imdb,metascore,votes,release_date,release_date_norm,title,...,production_companies,production_companies_norm,production_countries,production_countries_norm,languages,languages_norm,production_budget,domestic_gross,worldwide_gross,imdb_id
1,500,27977,Modern Times,1936,85,96.0,196871,"Feb 5, 1936",1936/02/05,Modern Times,...,NaN,NaN,United States,United-States,English,English,1500000,163245,199747,27977.0
4,1000,29583,Snow White and the Seven Dwarfs,1937,76,95.0,168091,"Dec 21, 1937",1937/12/21,Snow White and the Seven Dwarfs,...,Walt Disney Pictures,Walt-Disney-Pictures,United States,United-States,English,English,1488000,184925486,184925486,29583.0
7,2000,32138,The Wizard of Oz,1939,80,100.0,356739,"Aug 25, 1939",1939/08/25,The Wizard of Oz,...,NaN,NaN,United States,United-States,English,English,2777000,34063405,34305476,32138.0
8,2001,31381,Gone with the Wind,1939,81,97.0,268882,"Dec 15, 1939",1939/12/15,Gone with the Wind,...,Metro-Goldwyn-Mayer Pictures,Metro-Goldwyn-Mayer-Pictures,United States,United-States,English,English,3900000,198680470,390525192,31381.0
9,2002,31679,Mr. Smith Goes to Washington,1939,81,73.0,99907,"Oct 17, 1939",1939/10/17,Mr. Smith Goes To Washington,...,NaN,NaN,United States,United-States,English,English,1500000,9000000,9000000,31679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,42354,3864056,The Goldfinch,2019,64,40.0,4009,"Sep 12, 2019",2019/09/12,The Goldfinch,...,Warner Bros.;Color Force;Amazon Studios,Warner-Bros;Color-Force;Amazon-Studios,United States,United-States,English,English,40000000,5332621,9432621,3864056.0
4798,42399,1946502,UglyDolls,2019,48,39.0,3421,"May 1, 2019",2019/05/01,UglyDolls,...,OddLot Entertainment;STX Films;Huaxia Film & D...,OddLot-Entertainment;STX-Films;Huaxia-Film-and...,United States,United-States,English,English,45000000,20150241,27501834,1946502.0
4799,42422,1302006,The Irishman,2019,86,94.0,3217,"Nov 1, 2019",2019/11/01,The Irishman,...,NaN,NaN,United States,United-States,English,English,159000000,0,0,1302006.0
4800,42491,6423362,The Sun Is Also a Star,2019,57,52.0,2703,"May 17, 2019",2019/05/17,The Sun is Also a Star,...,Alloy Entertainment;Metro-Goldwyn-Mayer Pictur...,Alloy-Entertainment;Metro-Goldwyn-Mayer-Pictur...,United States,United-States,English,English,9000000,4950029,5680796,6423362.0
4801,42498,1620981,The Addams Family,2019,59,46.0,2651,"Oct 11, 2019",2019/10/11,The Addams Family,...,The Jackal Group;Cinesite;Metro-Goldwyn-Mayer ...,Jackal-Group-The;Cinesite;Metro-Goldwyn-Mayer-...,United States,United-States,English,English,24000000,72800705,84000705,1620981.0

[clean_data]: 4402 rows x 36 columns